    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">Menu
            		        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></div>

                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">

                     <li class="active"><a href="#">Home</a></li>
                       
               <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Door<span class="caret"></span></a>-->
                <li><a href="#/door">Door</a></li>
                    <li><a href="#/window">Window</a></li>
                    <li><a href="#/table">Timestamp summary</a></li>
                    <li><a href="#/description">Information</a></li>


                </ul>
            </div>
        </div>
    </div>
    
    
    </div>
    <div id="clock" class="light">
        <div class="display">
            <div class="weekdays"></div>
            <div class="ampm"></div>
            <div class="alarm"></div>
            <div class="digits"></div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="clock/clock/css/style.css">
    <script src="clock/clock/js/script.js"></script>