<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/tests.css">
    <link rel="stylesheet" type="text/css" href="../css/tests-responsive.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-image-gallery.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-toggle-bootstrap-toggle.min.css">
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">


    <title>Team 14</title>
</head>
<body>

<div  ng-controller="ArduinoCtrl">
    <div class="row">
        <div class="col-md-6 col-md-offset-3"></div>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Home Monitoring System</b>

                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>

                </div>
                <div class="panel-body">

                    <blockquote>
                        <p class="text-center">
                            <marquee scrollamount="9" width="90">&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
                            </marquee><b>Welcome To your home monitoring system</b><marquee scrollamount="9" direction="right" width="90">&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;</marquee>
                        </p>
                    </blockquote>
                    <center>
                        <!--          <button onclick="sendbutton(13,1)" type="button" class="btn btn-primary">S1 LED ON</button>
                                 <button onclick="sendbutton(13,0)" type="button" class="btn btn-primary">S2 LED OFF</button>
                                <button type="button" class="btn btn-primary">S3</button> -->
                    </center>
                    <div class="col-md-3" >
                        <div class="panel panel-danger" style="-webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black;
					   box-shadow: 0 8px 6px -6px black;">
                            <div class="panel-heading"><b>Menu</b>
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="../index.html"><b>Home</b></a></li>
                                    <li><a href="door.html"><b>Door-Status</b></a></li>
                                    <li><a href="window.html"><b>Window-Status</b></a></li>
                                    <li class="active"><a href="team.html"><b>Team 14</b></a></li>

                                    <!--<li><a href="Timestamp-summary.html">Timestamp summary</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
                    <div class="container">

                        <!-- Page Heading/Breadcrumbs -->

                        <!-- Team Members -->
                        <div class="row">

                            <div id="links">
                                <div class="col-md-2 text-center">
                                    <div class="thumbnail">
                                        <a data-gallery href="../Images/saumit.jpg" >
                                            <img class="img-responsive" src="../Images/saumit.jpg" alt="" style="height:155px; width:155px;"></a>
                                        <div class="caption">
                                            <h3>Saumit Dey<br>
                                                <small></small>
                                            </h3>
                                            <p>SJSU (MS)</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <div class="thumbnail">
                                        <a data-gallery href="../Images/IMG_0139.JPG" >
                                            <img class="img-responsive" src="../Images/IMG_0139.JPG" alt=""></a>
                                        <div class="caption">
                                            <h3>Sourav Chatterjee<br>
                                                <small></small>
                                            </h3>
                                            <p>SJSU (MS)</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <div class="thumbnail">
                                        <a data-gallery href="../Images/shivani.jpg" >
                                            <img class="img-responsive" src="../Images/shivani.jpg" alt="" style="height:155px; width:155px;"></a>
                                        <div class="caption">
                                            <h3>Shivani Gangania<br>
                                                <small></small>
                                            </h3>
                                            <p>SJSU (MS)</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <div class="thumbnail">
                                        <a data-gallery href="../Images/yang.jpg" >
                                            <img class="img-responsive" src="../Images/yang.jpg" alt="" style="height:155px; width:155px;"></a>
                                        <div class="caption">
                                            <h3>Yang Thao<br>
                                                <small></small>
                                            </h3>
                                            <p>SJSU (MS)</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>



</html>